.banner {
  background-image: url(./bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
}
@media only screen and (max-width: 600px) {
  .banner {
    margin-top: 60px;
  }
}
